/*
 /********Principal Mobile*********************/

@media screen and (max-width: 375px) {
    * {
        padding: auto;
        margin: auto;
    }
    nav {
        width: 100%;
        height: 5.9375rem;
        display: flex;
        align-items: center;
    }
    #btn1 {
        margin-left: 0.9375rem;
    }
    #btn2 {
        margin-right: 0.9375rem;
    }
    #btn3 {
        margin-top: -0.75rem;
        display: none;
    }
    /***********Menú Hamburguesa******************************/
    button {
        display: none;
        height: 0.3125rem;
    }
    #boton1 {
        display: block;
    }
    #menu ul li {
        list-style: none;
    }
    #menu ul li a {
        text-decoration: none;
    }
    #menu {
        position: relative;
        display: none;
        justify-content: center;
        width: 100%;
        height: 30.25rem;
        background-color: #572ee5;
        z-index: -1;
    }
    .lista a {
        font-family: "Montserrat Alternates";
        font-size: 1.25rem;
        color: #ffffff;
        text-align: center;
        line-height: 3.75rem;
        font-weight: bold;
    }
    .lista {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 0.625rem;
    }
    #menu ul {
        margin: 0;
        padding: 0;
    }
    hr {
        color: cornflowerblue;
        width: 3.125rem;
    }

    /************Nav*********************** */
    #btn1 {
        width: 90%;
    }
    #btn2 {
        width: 10%;
    }
    #buscador1 {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        z-index: -1;
    }
    input {
        position: relative;
        align-items: center;
        width: 16.25rem;
        height: 2.5rem;
        border: 1px solid #572ee5;
        border-radius: 1.6875rem;
        position: relative;
        top: 0.625rem;
    }
    #cierre {
        position: relative;
        left: -1.875rem;
        top: 0.625rem;
    }
    #principal1 {
        position: relative;
        z-index: -1;
        width: 100%;
        height: 9.6875rem;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #trending {
        display: flex;
        justify-content: center;
        height: 1.5625rem;
        width: 14.75rem;
        font-family: "Montserrat Alternates", sans-serif;
        color: #572ee5;
        font-size: 1rem;
        text-align: center;
        line-height: 1.5625rem;
    }
    #react {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 14.0625rem;
        height: 9.375rem;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 0.875rem;
        color: #572ee5;
        text-align: center;
        line-height: 1.5625rem;
    }
    /**************** Imágenes********************  */
    #principal5 {
        display: none;
    }
    #mascotas {
        font-family: "Montserrat Alternates";
        font-size: 1.5625rem;
        color: #572ee5;
        text-align: center;
        line-height: 2.5rem;
    }
    main {
        position: relative;
        z-index: -1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .fotos {
        width: 9.75rem;
        height: 7.5rem;
        margin-top: 0.9375rem;
    }
    /***FAVORITOS Mobile*****/
    #principal7{
        display: none;
    }
    #contenedor2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150px;
    }
    #titulo1{
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: #572ee5;
        text-align: center;
        line-height: 30px;
    }
    #principal6{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .fotos2{
        width: 156px;
        height: 120px;
        margin-top: 20px;
    }
    /*******MIS GIFOS Mobile************/

    #principal8{
        display: none;
    }
    #contenedor3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150px;
    }
    #titulo2{
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: #572ee5;
        text-align: center;
        line-height: 30px;
    }
    #principal9{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .fotos3{
        width: 156px;
        height: 120px;
        margin-top: 20px;
    }

    /****************** Boton "Ver Más"****** */
    #principal3 {
        height: 150px;
    }
    #boton {
        display: flex;
        justify-content: center;
        width: 6.25rem;
        background-color: white;
        border: none;
        margin-bottom: 100px;
    }
    /*******Trending GIFOS************** */
    #principal4 {
        background: #f3f5f8;
        width: 100%;
        height: 26.875rem;
        display: flex;
    }
    #inspiracion {
        display: flex;
        width: 17.875rem;
        height: 6.1875rem;
        margin-top: 7.5rem;
    }
    #gifos {
        font-family: "Montserrat Alternates";
        font-size: 1.5625rem;
        color: #572ee5;
        text-align: center;
        line-height: 30px;
    }
    #contenedor1 {
        width: 12.5rem;
        height: 6.25rem;
    }
    #parr1 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1.25rem;
        color: #000000;
        text-align: center;
        line-height: 1.4375rem;
    }
    /*Scroll */
    #scroll {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        left: 6.25rem;
    }
    #scroll img {
        width: 15.1875rem;
        height: 11.6875rem;
        /*justify-content: space-evenly;*/
        margin: 0.9375rem;
    }
    /**********************Footer****************/
    footer {
        width: 100%;
        height: 12.25rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #parr2 {
        width: 100%;
        justify-content: center;
        font-family: "Roboto Condensed";
        font-size: 1.25rem;
        color: #000000;
        letter-spacing: 0;
        justify-content: center;
    }
    #contenedor4 {
        display: flex;
        justify-content: center;
    }
    #parr3 {
        font-family: "Roboto Condensed";
        font-size: 1rem;
        color: #000000;
        letter-spacing: 0;
        line-height: 1.25rem;
        width: 14.0625rem;
    }
    #red {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        width: 90%;
        height: 1.5625rem;
        background: #ffffff;
    }
    .redes {
        width: 1.25rem;
        height: 1.25rem;
    }
    /* ***** Ilustrcion Inicial*****/
    #inspiracion {
        position: relative;
        top: -7.5rem;
        width: 17.875rem;
        height: 2.8125rem;
    }
    #inspirate {
        font-family: "Montserrat Alternates";
        font-size: 1.5625rem;
        color: #572ee5;
        text-align: center;
        line-height: 2.0625rem;
    }
    #palabra {
        color: #5ed7c6;
    }
    #ilustr {
        width: 17.0625rem;
        height: 8.125rem;
    }
}

@media screen and (max-width: 1440px) {
    /******NAV************/
    nav {
        width: 100%;
        height: 5.625rem;
        display: flex;
        background: rgba(255, 255, 255, 0.5);
    }
    #menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #menu ul {
        display: flex;
    }
    #menu ul li {
        list-style: none;
    }
    #menu ul li a {
        text-decoration: none;
    }
    .lista a {
        font-family: "Montserrat Alternates";
        font-size: 13px;
        color: #572ee5;
        text-align: center;
        line-height: 3.75rem;
        font-weight: bold;
        margin: 2.5rem;
    }
    #btn1 {
        width: 5.625rem;
        display: flex;
        align-items: center;
        margin-left: 6.25rem;
    }
    #btn2 {
        width: 5.625rem;
        display: flex;
        align-items: center;
        margin-right: 6.25rem;
    }
    /*****Ilustracion y Busqueda********/
    #inspiracion {
        width: 50%;
        height: 12.5rem;
        display: flex;
        justify-content: center;
        margin-left: 20%;
        font-family: "Montserrat Alternates";
        font-size: 1.25rem;
        color: #572ee5;
        text-align: center;
        line-height: 5.3125rem;
    }
    #palabra {
        color: #5ed7c6;
    }

    #ilustracion {
        width: 100%;
        height: 11.875rem;
        display: flex;
        justify-content: center;
    }
    #buscador {
        width: 34.4375rem;
        height: 3.125rem;
        background: #ffffff;
        border: 1px solid #572ee5;
        border-radius: 1.6875rem;
        border-radius: 1.6875rem;
    }
    #buscador1 {
        display: flex;
        justify-content: center;
        margin-top: 1.25rem;
    }
    /*****Trending*******/
    #trending {
        font-family: "Montserrat Alternates";
        font-size: 1.125rem;
        color: #572ee5;
        text-align: center;
        line-height: 1.5625rem;
    }
    #react {
        font-family: "Montserrat Alternates";
        font-size: 1rem;
        color: #572ee5;
        text-align: center;
        line-height: 1.5625rem;
    }

    /****GIFOS descktop*/
    #principal4 {
        width: 100%;
        height: 40rem;
        background: #f3f5f8;
        margin-top: 3.125rem;
    }
    #contenedor1 {
        margin-top: 3.125rem;
        display: block;
        align-items: center;
    }
    #gifos {
        font-family: "Montserrat Alternates";
        font-size: 1.5625rem;
        color: #572ee5;
        text-align: center;
        line-height: 1.875rem;
    }
    #trent{
        padding-top: 5rem;
    }
    #parr1 {
        font-family: "Roboto Condensed";
        font-size: 1.125rem;
        color: #000000;
        text-align: center;
    }
    #scroll {
        display: flex;
        margin-left: 0.625rem;
        justify-content: space-between;
    }
    .gif {
        width: 21.875rem;
        height: 17.1875rem;
    }
    /**** Footer Desktop*/
    footer {
        width: 100%;
        height: 7.25rem;
        display: flex;
        align-items: center;
    }
    #par {
        font-family: "Roboto Condensed";
        font-size: 0.8125rem;
        color: #000000;
        letter-spacing: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 5rem;
    }
    #contenedor4 {
        font-family: "Roboto Condensed";
        font-size: 0.8125rem;
        color: #000000;
        letter-spacing: 0;
        margin-left: 5rem;
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
    #red {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .redes{
        margin: 0.625rem;
    }
}

