/*Busqueda Mobile */
#btn1 {
    width: 90%;
}
#btn2 {
    width: 10%;
}
#buscador1 {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: -1;
}
input {
    align-items: center;
    width: 260px;
    height: 40px;
    border: 1px solid #572ee5;
    border-radius: 27px;
    position: relative;
    top: 10px;
}
#cierre {
    position: relative;
    left: -30px;
    top: 10px;
}