/*MODO NOCTURNO*/
/*
body.dark{
    background-color: #37383C;
}
 h1.dark{
    color: white;
}

/********BUSQUEDA*********************/

@media screen and (max-width: 375px) {
    /*************/
    * {
        margin: 0%;
        padding: 0%;
    }
    nav {
        width: 100%;
        height: 95px;
        display: flex;
        align-items: center;
    }
    /***********Menú Hamburguesa******************************/
    #btn4 {
        visibility: hidden;
    }
    #menus ul {
        visibility: hidden;
    }
    #menus {
        display: none;
    }
    #menu ul li {
        list-style: none;
    }
    #menu ul li a {
        text-decoration: none;
    }
    #menu {
        visibility: visible;
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 400px;
        background-color: #572ee5;
        background: rgba(87, 46, 229, 0.9);
    }
    #btn3{
        
        visibility: hidden;
        margin-left: -15px;
    }
    .lista a {
        font-family: "Montserrat Alternates";
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 60px;
        font-weight: bold;
    }
    .lista {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
    #menu ul {
        margin: 0;
        padding: 0;
    }
    hr {
        color: cornflowerblue;
        width: 4.125rem;
        margin-left: 50px;
    }
    /************Nav*********************** */
    #btn1 {
        width: 90%;
        margin-left: 15px;
    }
    #boton1 {
        visibility: visible;
    }
    #btn2 {
        visibility: visible;
        width: 100%;
        display: flex;
        justify-content: end;
    }
    
    /********Imagen principal y Buscador**************/
    #inspiracion {
        width: 286px;
        height: 100px;
        display: flex;
        justify-content: center;
    }
    #inspirate {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: #572ee5;
        text-align: center;
        line-height: 33px;
    }
    #palabra {
        font-size: 25px;
        color: #5ed7c6;
        text-align: center;
        line-height: 33px;
    }
    #ilustracion {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        width: 273px;
        height: 130px;
    }
    #buscador1 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    input {
        text-align: center;
        align-items: center;
        width: 280px;
        height: 40px;
        border: 1px solid #572ee5;
        border-radius: 27px;
        
        top: 10px;
    }
    #cierre {
        display: none;
        position: relative;
        left: -30px;
        top: 3px;
        width: 15px;
    }
    #lupa{
        /*display: none;*/
        width: 20px;
        position: relative;
        left: -30px;
        top: 3px;
    }
    #principal1 {
        width: 100%;
        height: 155px;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #trending {
        display: flex;
        justify-content: center;
        height: 25px;
        width: 236px;
        font-family: "Montserrat Alternates", sans-serif;
        color: #572ee5;
        font-size: 16px;
        text-align: center;
        line-height: 25px;
    }
    #react {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 225px;
        height: 150px;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 14px;
        color: #572ee5;
        text-align: center;
        line-height: 25px;
    }
    /**************** Imágenes********************  */
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    #principal5 {
        display: none;
       
    }
    #favcor{
        position: absolute;
        margin-left: 80px;
        display: none;
    }
    .seleccion{
        margin-top: -120px;
        
    }
    #principal2{
        display: flex;
        align-items: flex-start;

    }
    #mascotas {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: #572ee5;
        text-align: center;
        line-height: 40px;
    }
    .foto{
        width: 156px;
        height: 120px;
        margin-top: 15px;
    }
    /***FAVORITOS Mobile*****/
    #principal7 {
        display: none;
    }
    #contenedor2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150px;
        justify-content: center;
        align-items: center;
    }
    #imagen1 {
        width: 20px;
        height: 20px;
    }
    #titulo1 {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: #572ee5;
        text-align: center;
        line-height: 30px;
    }
    #principal6 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .fotos2 {
        width: 156px;
        height: 120px;
        margin-top: 20px;
    }
    /*******MIS GIFOS Mobile************/

    #principal8 {
        display: none;
    }
    #contenedor3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150px;
        justify-content: center;
        align-items: center;
    }
    #imagen2 {
        width: 20px;
        height: 20px;
    }
    #titulo2 {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: #572ee5;
        text-align: center;
        line-height: 30px;
    }
    #principal9 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .fotos3 {
        width: 156px;
        height: 120px;
        margin-top: 20px;
    }
    /****************** Boton "Ver Más"****** */
    #principal3{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        
    }
    #boton {
        width: 100px;
        height: 200px;
        background-color: white;
        border: none;
    }
    /*******Trending GIFOS************** */
    #principal12 {
        background: #f3f5f8;
        width: 100%;
        height: 430px;
        display: flex;
    }
    #gifos {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: #572ee5;
        text-align: center;
        line-height: 30px;
        margin-top: 30px;
    }
    #contenedor1 {
        width: 200px;
        height: 100px;
    }
    #parr1 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 20px;
        color: #000000;
        text-align: center;
        line-height: 23px;
    }
    /********Scroll ********/
    #scroll {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        
    }
    #scroll img {
        width: 243px;
        height: 187px;
        /*justify-content: space-evenly;*/
        margin: 15px;
    }
    /*
    .fotos5 {
        
    }
    */
    /**********************Footer****************/
    footer {
        width: 100%;
        height: 196px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #parr2 {
        width: 100%;
        justify-content: center;
        font-family: "Roboto Condensed";
        font-size: 20px;
        color: #000000;
        letter-spacing: 0;
        justify-content: center;
    }
    #contenedor4 {
        display: flex;
        justify-content: center;
    }
    #parr3 {
        font-family: "Roboto Condensed";
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px;
        width: 225px;
    }
    #red {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        width: 90%;
        height: 25px;
        background: #ffffff;
    }
    .redes {
        width: 20px;
        height: 20px;
    }
}
/*************************************************************/

@media screen and (min-width: 1440px) {
    /*******BArra de navegacion DESCKTOP*****/
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90px;
    }
    #btn1 {
        width: 20%;
        display: flex;
        justify-content: end;
    }
    #menu {
        display: none;
    }
    #btn2 {
        visibility: hidden;
    }
    #btn3 {
        visibility: hidden;
    }
    #menus {
        visibility: visible;
        width: 100%;
        display: flex;
        justify-content: end;
    }
    #menus ul li {
        list-style: none;
        display: flex;
    }
    #menus ul li a {
        text-decoration: none;
        font-size: 13px;
        color: #572ee5;
        letter-spacing: 0;
        text-align: center;
    }
    nav #menus #clickear {
        font-family: "Montserrat Alternates";
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 60%;
    }
    #btn4 {
        width: 20%;
        display: flex;
        justify-content: start;
    }
    /*************************/

    #principal4 {
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #inspiracion {
        display: flex;
        justify-content: center;
        font-family: "Montserrat Alternates";
        font-size: 1.25rem;
        color: #572ee5;
        text-align: center;
        line-height: 3.3125rem;
    }
    #inspirate {
        width: 50%;
        height: 100px;
    }
    #palabra {
        color: #5ed7c6;
    }
    /*#cierre {
        visibility: hidden;
    }*/
    #ilustracion {
        display: flex;
        justify-content: center;
    }
    #ilustr {
        width: 400px;
        height: 190px;
    }
    input {
        
        text-align: center;
        width: 550px;
        height: 50px;
        background: #ffffff;
        border: 1px solid #572ee5;
        border-radius: 27px;
        position: relative;
    }
    #buscador1 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #cierre {
        display: none;
        position: relative;
        left: -50px;
        top: 3px;
        width: 15px;
    }
    #lupa{
        /*display: none;*/
        width: 20px;
        position: relative;
        left: -70px;
        top: 4px;
    }
    /*******Trending**********/
    #principal1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100px;
    }
    #trending {
        font-family: "Montserrat Alternates";
        font-size: 1.125rem;
        color: #572ee5;
        text-align: center;
        line-height: 1.5625rem;
    }
    #react {
        font-family: "Montserrat Alternates";
        font-size: 1rem;
        color: #572ee5;
        text-align: center;
        line-height: 1.5625rem;
    }
    /****Mascotas DESKTOP********/
    #principal5 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    /*
    #principal5 {
        display: none;
    }*/
    #mascotas {
        font-family: "Montserrat Alternates";
        font-size: 1.5625rem;
        color: #572ee5;
        text-align: center;
        line-height: 2.5rem;
    }
    .foto {
        width: 260px;
        height: 200px;
        margin-top: 20px;
        margin-left: 30px;
    }
    #principal2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /**** Favoritos DESKTOP************/
    #principal7 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #principal7 {
        display: none;
    }
    #contenedor2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
    #imagen1 {
        width: 20px;
        height: 20px;
    }
    #titulo1 {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: #572ee5;
        text-align: center;
        line-height: 30px;
    }
    .fotos2 {
        width: 260px;
        height: 200px;
        margin-top: 20px;
        margin-left: 30px;
    }
    #principal6 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
/*Favoritos-Descarga-Expancion**********/
    .seleccion{
       
        margin-top: -100px;
        margin-left: 5px;
        justify-content: flex-end;
    }
    #favcor{
        position: absolute;
        display: inline-flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-left: 20px;
    }
    /******Mis Gifos DESKTOP*****************/
    #principal8 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #principal8 {
        display: none;
    }
    #contenedor3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100px;
        justify-content: flex-end;
        align-items: center;
    }
    #titulo2 {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: #572ee5;
        text-align: center;
        line-height: 30px;
    }
    #imagen2 {
        width: 20px;
        height: 20px;
    }
    .fotos3 {
        width: 260px;
        height: 200px;
        margin-top: 20px;
        margin-left: 30px;
    }
    #principal9 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /***Boton Ver Mas DESKTOP*****/
    #principal3 {
        display: flex;
        justify-content: center;
        height: 100px;
        align-items: center;
        display: none;
    }
    #boton {
        width: 120px;
        height: 50px;
    }
    #boton {
        display: none;
    }
    #vermas {
        display: none;
    }
    /******Trending Gifos DESKTOP*************/
    #principal12 {
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background: #f3f5f8;
    }
    #gifos {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: #572ee5;
        text-align: center;
        line-height: 30px;
    }
    #contenedor {
        font-family: "Montserrat Alternates";
        font-size: 18px;
        color: #000000;
        text-align: center;
    }
    #scroll {
        height: 330px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .fotos4 {
        width: 28%;
        height: 275px;
        margin-left: 20px;
    }
    /********Footer Desktop**************/
    footer {
        width: 100%;
        height: 116px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #parr2 {
        font-family: "Roboto Condensed";
        font-size: 0.8125rem;
        color: #000000;
        letter-spacing: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 120px;
    }
    #red {
        width: 80%;
        display: flex;
        justify-content: flex-start;
    }
    .redes {
        margin: 0.625rem;
    }
    #parrafo3 {
        width: 400px;
    }
    #parr3 {
        width: 300px;
        font-family: "Roboto Condensed";
        font-size: 13px;
        color: #000000;
        letter-spacing: 0;
        margin-right: 5%;
    }
}
