/*
********BUSQUEDA**********************/

@media screen and (max-width: 375px) {
    body {
        background-color: var(--color-primary);
    }
    /*************/
    * {
        margin: 0%;
        padding: 0%;
    }
    nav {
        width: 100%;
        height: 95px;
        display: flex;
        align-items: center;
    }
    /***********Menú Hamburguesa******************************/
    #btn4 {
        visibility: hidden;
    }
    #menus ul {
        visibility: hidden;
    }
    #menus {
        display: none;
    }
    #menu ul li {
        list-style: none;
    }
    #menu ul li p {
        text-decoration: none;
    }
    #menu ul li p:hover {
        cursor: pointer;
    }
    #menu {
        visibility: visible;
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 400px;
        background-color: var(--gifos2);
        background: var(--menuHamb);
    }
    #btn3 {
        visibility: hidden;
        margin-left: -15px;
    }
    .lista p {
        font-family: "Montserrat Alternates";
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 60px;
        font-weight: bold;
    }
    .lista a {
        font-family: "Montserrat Alternates";
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 60px;
        font-weight: bold;
    }
    .lista {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
    #menu ul {
        margin: 0;
        padding: 0;
    }
    .bordeInf {
        color: var(--linea);
        width: 4.125rem;
        margin-left: 150px;
    }
    /************Nav*********************** */
    #btn1 {
        width: 90%;
        margin-left: 15px;
    }
    #boton1 {
        visibility: visible;
    }
    #btn2 {
        visibility: visible;
        width: 100%;
        display: flex;
        justify-content: end;
    }
    #principal_crear {
        display: none;
    }

    /********Imagen principal y Buscador**************/
    #inspiracion {
        width: 286px;
        height: 100px;
        display: flex;
        justify-content: center;
    }
    #inspirate {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: var(--gifos);
        text-align: center;
        line-height: 33px;
    }
    #palabra {
        font-size: 25px;
        color: #5ed7c6;
        text-align: center;
        line-height: 33px;
    }
    #ilustracion {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        width: 273px;
        height: 130px;
    }
    #buscador1 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    input {
        text-align: center;
        align-items: center;
        width: 280px;
        height: 40px;
        border: 1px solid var(--gifos);
        border-radius: 27px;
        top: 10px;
    }
    #cierre {
        display: none;
        position: relative;
        left: -30px;
        top: 3px;
        width: 15px;
    }
    #lupa {
        /*display: none;*/
        width: 20px;
        position: relative;
        left: -30px;
        top: 3px;
    }
    #principal1 {
        width: 100%;
        height: 155px;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #trending {
        display: flex;
        justify-content: center;
        height: 25px;
        width: 236px;
        font-family: "Montserrat Alternates", sans-serif;
        color: var(--gifos);
        font-size: 16px;
        text-align: center;
        line-height: 25px;
    }
    #react {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 225px;
        height: 150px;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 14px;
        color: var(--gifos);
        text-align: center;
        line-height: 25px;
    }
    /***********Sin Busqueda/**/
    /****************/
    #sinBusqueda {
        display: none;
    }
    /*Imágenes********************/
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #principal5 {
        display: none;
    }
    #favcor {
        position: absolute;
        margin-left: 80px;
        display: none;
    }
    .seleccion {
        margin-top: -120px;
    }
    #principal2 {
        display: flex;
        align-items: flex-start;
    }
    #mascotas {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: var(--gifos);
        text-align: center;
        line-height: 40px;
    }
    .foto {
        width: 156px;
        height: 120px;
        margin-top: 15px;
    }
    /***FAVORITOS Mobile*****/
    #principal7 {
        display: none;
    }
    #contenedor2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150px;
        justify-content: center;
        align-items: center;
    }
    #imagen1 {
        width: 20px;
        height: 20px;
    }
    #titulo1 {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: var(--gifos);
        text-align: center;
        line-height: 30px;
    }
    #principal6 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .fotos2 {
        width: 156px;
        height: 120px;
        margin-top: 20px;
    }
    /*******MIS GIFOS Mobile************/

    #principal8 {
        display: none;
    }
    #contenedor3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150px;
        justify-content: center;
        align-items: center;
    }
    #imagen2 {
        width: 20px;
        height: 20px;
    }
    #titulo2 {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: var(--gifos);
        text-align: center;
        line-height: 30px;
    }
    #principal9 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .fotos3 {
        width: 156px;
        height: 120px;
        margin-top: 20px;
    }
    /****************** Boton "Ver Más"****** */
    #principal3 {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    #boton {
        width: 100px;
        height: 100px;
        background-color: var(--color-primary);
        border: none;
    }
    #vermas:hover {
        cursor: pointer;
    }
    /*******Trending GIFOS************** */
    #principal12 {
        background: var(--color-secondary);
        width: 100%;
        height: 430px;
        display: flex;
    }
    #gifos {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: var(--gifos);
        text-align: center;
        line-height: 30px;
        margin-top: 30px;
    }
    #contenedor1 {
        width: 200px;
        height: 100px;
    }
    #parr1 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 20px;
        color: var(--font-color);
        text-align: center;
        line-height: 23px;
    }
    /********Scroll ********/
    #scroll {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
    }
    #scroll img {
        width: 243px;
        height: 187px;
        /*justify-content: space-evenly;*/
        margin: 15px;
    }
    .sig {
        display: none;
    }
    /**********************Footer****************/
    footer {
        width: 100%;
        height: 196px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #parr2 {
        width: 100%;
        justify-content: center;
        font-family: "Roboto Condensed";
        font-size: 20px;
        color: var(--font-color);
        letter-spacing: 0;
        justify-content: center;
    }
    #contenedor4 {
        display: flex;
        justify-content: center;
    }
    #parr3 {
        font-family: "Roboto Condensed";
        font-size: 16px;
        color: var(--font-color);
        letter-spacing: 0;
        line-height: 20px;
        width: 225px;
    }
    #red {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        width: 90%;
        height: 25px;
        background: var(--color-primary);
    }
    .redes {
        width: 20px;
        height: 20px;
    }
    /*****Creación de gifs propios************/
    #creargifos {
        display: none;
    }
}
/*************************************************************/

@media screen and (min-width: 1440px) {
    body {
        background-color: var(--color-primary);
    }
    /*******BArra de navegacion DESCKTOP*****/
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90px;
    }
    #btn1 {
        width: 20%;
        display: flex;
        justify-content: end;
    }
    #menu ul li {
        display: none;
    }
    hr {
        display: none;
    }
    #btn2 {
        visibility: hidden;
    }
    #btn3 {
        visibility: hidden;
    }
    #menus {
        visibility: visible;
        width: 100%;
        display: flex;
        justify-content: end;
    }
    #menus ul li {
        list-style: none;
        display: flex;
    }

    #menus ul li p {
        text-decoration: none;
        font-size: 13px;
        color: var(--gifos);
        letter-spacing: 0;
        text-align: center;
    }
    #menus ul li p:hover {
        cursor: pointer;
    }
    nav #menus #clickear {
        font-family: "Montserrat Alternates";
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 60%;
    }
    #btn4 {
        width: 20%;
        display: flex;
        justify-content: start;
    }
    /*************************/

    #principal4 {
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #inspiracion {
        display: flex;
        justify-content: center;
        font-family: "Montserrat Alternates";
        font-size: 1.25rem;
        color: var(--gifos);
        text-align: center;
        line-height: 3.3125rem;
    }
    #inspirate {
        width: 50%;
        height: 100px;
    }
    #palabra {
        color: #5ed7c6;
    }
    /*#cierre {
        visibility: hidden;
    }*/
    #ilustracion {
        display: flex;
        justify-content: center;
    }
    #ilustr {
        width: 400px;
        height: 190px;
    }
    input {
        text-align: center;
        width: 550px;
        height: 50px;
        background: var(--color-primary);
        border: 1px solid var(--gifos);
        border-radius: 27px;
        position: relative;
    }

    #buscador1 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #cierre {
        display: none;
        position: relative;
        left: -50px;
        top: 3px;
        width: 15px;
    }
    #lupa {
        /*display: none;*/
        width: 20px;
        position: relative;
        left: -70px;
        top: 4px;
    }
    /*******Trending**********/
    #principal1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100px;
    }
    #trending {
        font-family: "Montserrat Alternates";
        font-size: 1.125rem;
        color: var(--gifos);
        text-align: center;
        line-height: 1.5625rem;
    }
    #react {
        font-family: "Montserrat Alternates";
        font-size: 1rem;
        color: var(--gifos);
        text-align: center;
        line-height: 1.5625rem;
    }
    /** Sin Búsqueda**/
    #sinBusqueda {
        width: 100%;
        display: none;
    }
    #sinBusqueda01 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #resultados2 {
        display: flex;
        justify-content: center;
    }
    #resultados {
        width: 150px;
        height: 150px;
    }
    #lorem {
        height: 130px;
        font-family: "Montserrat Alternates";
        font-weight: bold;
        font-size: 30px;
        color: #572ee5;
        text-align: center;
        line-height: 30px;
    }
    #lorem01 {
        font-family: "Montserrat Alternates";
        font-weight: bold;
        font-size: 22px;
        color: #50e3c2;
        text-align: center;
        line-height: 25px;
    }
    /****Mascotas DESKTOP********/
    #principal5 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    /*
    #principal5 {
        display: none;
    }*/
    #mascotas {
        font-family: "Montserrat Alternates";
        font-size: 1.5625rem;
        color: var(--gifos);
        text-align: center;
        line-height: 2.5rem;
    }
    .foto1 {
        position: relative;
    }
    .foto {
        width: 260px;
        height: 200px;
        margin-top: 20px;
        margin-left: 30px;
        z-index: 0;
        display: block;
    }
    .divHover {
        width: 260px;
        height: 200px;
        margin-top: -200px;
        margin-left: 30px;
        background-color: #572ee5;
        opacity: 0.7;
        position: absolute;
        z-index: 10;
        display: none;
    }
    #principal2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /**** Favoritos DESKTOP************/
    #principal7 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #principal7 {
        display: none;
    }
    #contenedor2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
    #imagen1 {
        width: 20px;
        height: 20px;
    }
    #titulo1 {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: var(--gifos);
        text-align: center;
        line-height: 30px;
    }
    .fotos2 {
        width: 260px;
        height: 200px;
        margin-top: 20px;
        margin-left: 30px;
    }
    #principal6 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /*Favoritos-Descarga-Expancion**********/
    .seleccion {
        margin-top: -100px;
        margin-left: 5px;
        justify-content: flex-end;
    }
    #favcor {
        display: none;
        position: absolute;
        margin-top: -180px;
        margin-left: 140px;
    }
    .seleccion1 {
        margin-top: 10px;
        margin-left: 5px;
        justify-content: flex-end;
    }
    #favcor1 {
        position: absolute;
        display: none;
        margin-left: 240px;
       margin-top: -270px;
    }
    /******Mis Gifos DESKTOP*****************/
    #principal8 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #principal8 {
        display: none;
    }
    #contenedor3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100px;
        justify-content: flex-end;
        align-items: center;
    }
    #titulo2 {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: var(--gifos);
        text-align: center;
        line-height: 30px;
    }
    #imagen2 {
        width: 20px;
        height: 20px;
    }
    .fotos3 {
        width: 260px;
        height: 200px;
        margin-top: 20px;
        margin-left: 30px;
    }
    #principal9 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /***Boton Ver Mas DESKTOP*****/
    #principal3 {
        display: flex;
        justify-content: center;
        height: 100px;
        align-items: center;
        display: none;
    }
    #boton {
        width: 120px;
        height: 50px;
    }
    #boton {
        /*display: none;*/
        background-color: var(--color-primary);
        border: none;
    }
    #vermas:hover {
        cursor: pointer;
    }

    /******Trending Gifos DESKTOP*************/
    #principal12 {
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background: var(--color-secondary);
    }
    #gifos {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: var(--gifos);
        text-align: center;
        line-height: 30px;
    }
    #contenedor {
        font-family: "Montserrat Alternates";
        font-size: 18px;
        color: var(--font-color);
        text-align: center;
    }

    #scroll {
        width: 78%;
        height: 330px;
        align-items: center;
        display: inline-flex;
        justify-content: space-between;
    }

    .fotos4 {
        width: 350px;
        height: 275px;
        margin-left: 20px;
        z-index:0 ;
    }
    .hoverScroll{
        position: relative;
        margin-top: -278px;
        width: 350px;
        height: 275px;
        margin-left: 20px;
        background-color: #572ee5;
        opacity: 0.7;
        z-index:10 ;
    }
    .sig {
        position: absolute;
    }
    #scrollLeft {
        position: absolute;
        height: 50px;
        margin-right: 1200px;
       margin-top: 230px;
    }
    #scrollRigth {
        position: absolute;
        margin-left: 1140px;
        margin-top: 230px;
    }
    button {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: hidden;
    }
    #parr1 {
        color: var(--font-color);
        justify-content: center;
    }

    /********Footer Desktop**************/
    footer {
        width: 100%;
        height: 116px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #parr2 {
        font-family: "Roboto Condensed";
        font-size: 0.8125rem;
        color: var(--font-color);
        letter-spacing: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 120px;
    }
    #red {
        width: 80%;
        display: flex;
        justify-content: flex-start;
    }
    .redes {
        margin: 0.625rem;
    }
    #parrafo3 {
        width: 400px;
    }
    #parr3 {
        width: 300px;
        font-family: "Roboto Condensed";
        font-size: 13px;
        color: var(--font-color);
        letter-spacing: 0;
        margin-right: 5%;
    }
    /*****Creación de gifs propios************/
    #creargifos {
        display: none;
    }

    #cont802 {
        width: 688px;
        height: 390px;
        border: 1px solid var(--gifos);
    }
    #contenedor800 {
        display: flex;
        width: 100%;
        margin-left: 130px;
    }
    #cont801 {
        display: flex;
        height: 390px;
    }
    .cuadr {
        width: 27px;
        height: 25px;
        border: 1px solid #50e3c2;
    }
    #bloques {
        margin: 20px;
        display: flex;
        width: 680px;
        justify-content: center;
    }
    #bloques1 {
        margin: 20px;
        display: flex;
        width: 680px;
        justify-content: center;
    }
    #cuadr1 {
        border-bottom: transparent;
        border-right: transparent;
        display: flex;
    }
    #cuadr2 {
        border-bottom: transparent;
        border-left: transparent;
    }
    #cuadr3 {
        border-top: transparent;
        border-right: transparent;
    }
    #cuadr4 {
        border-top: transparent;
        border-left: transparent;
    }
    #cont_cuadrado {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    #acceso00 {
        display: none;
    }
    #acceso {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    #acceso1 {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: var(--gifos);
        text-align: center;
        line-height: 35px;
        font-weight: bold;
    }
    #acceso2 {
        font-family: "Roboto Condensed";
        font-size: 16px;
        color: var(--font-color);
        text-align: center;
        line-height: 29px;
    }
    #acceso3 {
        font-family: "Roboto Condensed";
        font-size: 16px;
        color: var(--font-color);
        text-align: center;
        line-height: 29px;
    }
    #aqui {
        font-family: "Montserrat Alternates";
        font-size: 25px;
        color: var(--gifos);
        text-align: center;
        line-height: 35px;
        font-weight: bold;
    }
    #crea {
        font-family: "Roboto Condensed";
        font-size: 16px;
        color: var(--font-color);
        text-align: center;
        line-height: 29px;
    }
    #palabra-gifo {
        color: #50e3c2;
    }
    .btn123 {
        margin: 10px;
        border-radius: 50%;
        width: 31px;
        height: 31px;
        border: 1px solid var(--gifos);
        font-size: 18px;
        color: var(--gifos);
        text-align: center;
        background-color: transparent;
    }
    #botones123 {
        margin-left: 600px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
    }
    #repCaptura {
        display: none;
        font-family: "Montserrat Alternates";
        font-size: 13px;
        color: var(--gifos);
        letter-spacing: 0;
        text-align: center;
        font-weight: bold;
        text-decoration-line: underline;
        text-decoration-color: #50e3c2;
    }
    #repCaptura a:hover {
        color: #50e3c2;
    }
    #captura {
        width: 25%;
    }
    #rollos img {
        margin-left: 350px;
    }
    #linea {
        width: 766px;
        height: 3.9px;
        background: var(--gifos);
        border-radius: 15px;
        margin-left: 300px;
    }
    #comenzar {
        width: 127px;
        height: 50px;
        border: 1px solid var(--gifos);
        border-radius: 25px;
        font-size: 13px;
        color: var(--gifos);
        letter-spacing: 0;
        text-align: center;
        background-color: transparent;
        margin: 15px;
        margin-left: 320px;
        font-weight: bold;
    }
    #finalizar {
        display: none;
        width: 127px;
        height: 50px;
        border: 1px solid var(--gifos);
        border-radius: 25px;
        font-size: 13px;
        color: var(--gifos);
        letter-spacing: 0;
        text-align: center;
        background-color: transparent;
        margin: 15px;
        margin-left: 320px;
        font-weight: bold;
    }
    #subirgifo {
        display: none;
        /*display: none;*/
        width: 127px;
        height: 50px;
        border: 1px solid var(--gifos);
        border-radius: 25px;
        font-size: 13px;
        color: var(--gifos);
        letter-spacing: 0;
        text-align: center;
        background-color: transparent;
        margin: 15px;
        margin-left: 320px;
        font-weight: bold;
    }
    #grabar {
        display: none;
        width: 127px;
        height: 50px;
        border: 1px solid var(--gifos);
        border-radius: 25px;
        font-size: 13px;
        color: var(--gifos);
        letter-spacing: 0;
        text-align: center;
        background-color: transparent;
        margin: 15px;
        margin-left: 320px;
        font-weight: bold;
    }
    #video {
        display: none;
        width: 688px;
        height: 390px;
        background: rgba(0, 0, 0, 0.2);
    }
}
/******Modo Nocturno********/

.theme-light {
    --color-primary: #ffffff;
    --color-secondary: #f3f5f8;
    --gifos: #572ee5;
    --gifos2: #572ee5;
    --font-color: #000000;
    --menuHamb: rgba(87, 46, 229, 0.9);
    --linea: cornflowerblue;
    --logo: ;
}
.theme-dark {
    --color-primary: #37383c;
    --color-secondary: #222326;
    --gifos: #ffffff;
    --gifos2: #000000;
    --font-color: #ffffff;
    --menuHamb: #000000;
    --linea: #ffffff;
    --logo: ;
}
